body,html{
	padding:0px;
	margin:0px;
	height: 100%;
	font-family: Comic Sans MS;
}
body {
	background-image: url("../img/Fondo.png");
}
.izq{
	background-color:none;

}
.centro{
	background-color:none;
}

.der{
	background-color:none;
	display:block !important;
}

.izq,.centro,.der{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
}

#MoonZone{
	bottom:0px;
	left:18%;
	height:36%;
	width:65%;
	position:fixed;
}

#luna{
	height: 105%; 
	width: 100%;
}

#nave{
	text-align: center;
	z-index: 5;
	position:fixed;
	top:5%;
	width:100%;
	height:20%;
}

#imgNave{
	height:auto;
	width: auto;
	max-width: 75px;
	display: block;
	margin: auto;
}

#imgMotor{
	height:auto;
	width: auto;
	max-width: 75px;
	display: block;
	margin: auto;
	display: none;

}

.controles{ 
	/*controles*/
	background-color: red
	width: auto; height: auto; 
	max-width: 90px;
	margin: 10px;
	width: 100%;
	border-style: outset;
	font-size: 117%;
	padding: 5px;
	margin-bottom: 15px;
	border-radius: 20px;
}

#cpanel{}

#fuel{
    width: auto;
    height: 300px;
    max-width: 90px;
    margin: 10px;
    width: 100%;
    border-style: outset;
    font-size: 150%;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    border-radius: 20px;
}
#gastofuel{
    max-height: 98%;
    min-height: 0%;
    height: 100%;
    max-width: 50px;
    background-color: rgb(171, 179, 195);
    width: 100%;
    border-style: outset;
    font-size: 150%;
    margin-left: 15px;
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
}


#BotonPlay{
	display: none;
	float: right;
	margin: 5px;
	margin-top: 5%;
	text-align: center;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/Play.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
}

#BotonPause{
	display: none;
	float: right;
	margin: 5px;
	margin-top: 5%;
	text-align: center;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/Pause.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
}

#BotonReiniciar{
	display: none;
	float: right;
	margin: 5px;
	margin-top: 5%;
	text-align: center;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/Replay.png");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: 50% 50%;
}
#BotonAjustes{
	display: none;
	float: right;
	margin: 5px;
	margin-top: 5%;
	text-align: center;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/Ajustes.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
}

#BotonMenu{
	display: inline-block;
	float: right;
	margin: 5px;
	margin-top: 5%;
	text-align: center;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/Menu.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
}

#BotonSonido{
	display: none;
}
#BotonAyuda{
	display: none;
}
/*Botones de propulcion */
#BotonOn,#BotonOff{
position:fixed;
right: 0;
bottom: 100px;
max-width: 70px;
max-height: 150px;
height: 50%;
width: 100%;

}

#BotonOff{
	display: none;
}
#ajustes{
	display: none; /*inline-block*/
	position: absolute;
    height: 100%;
    width: 100%;
	z-index: 5;
	left: 0;
	border-radius: 20px;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
#cerrar{
	top: 2px;
	left: 2px;
	width: 15%;
	max-width: 50px;
	position: absolute;
}
#Ayuda{
	display: none; /*inline-block*/
	position: fixed;
    height: 100%;
    width: 100%;
	z-index: 5;
	left: 0;
	top: 0;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}

#loser{
	display: none; /*inline-block*/
	position: absolute;
    height: auto;
    width: 60%;
    left: 18%;
	z-index: 5;
	top: 100px;
	border-radius: 20px;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-color: black;
	border:10px;
	border-style: solid;
	border-color:#85929e;
	text-align: center;
}
#loser-gif,#winner-gif{
	width: 30%;
	height: 30%;
	border-radius: 10px;
}
#VolverAintentar,#VolverAjugar{
	border-radius: 10px;
	background-color: #85929E;
}
#winner{
	display: none; /*inline-block*/
	position: absolute;
    height: auto;
    width: 60%;
    left: 18%;
	z-index: 5;
	top: 100px;
	border-radius: 20px;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:10px;
	border-style: solid;
	border-color:#85929e;
	text-align: center;
}
#SmartphoneMenu{
	display: none;/*block !important*/
	border-radius: 20px;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:5px;
	border-style: solid;
	border-color:#85929e;
    width: 70%;
    height: 60%;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 6;
    padding-top: 50px;
}

#S-Replay{
	width: 92%;
	height: 80px;
	background-image: url("../img/Replay.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 100% 0%;
	background-color: rgba(240, 243, 244, 0.7); 
	border-style: outset;
	border-radius: 10px;
	border-color: silver;
	display: block !important;
	color: black;
	margin: 3%;
	margin-bottom: 2px;
	text-align: left; 
	font-size: 250%;
}
#S-Help{
	width: 92%;
	height: 80px;
	background-image: url("../img/Ayuda.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 100% 0%;
	background-color: rgba(240, 243, 244, 0.7); 
	border-style: outset;
	border-radius: 10px;
	border-color: silver;
	display: block !important;
	color: black;
	margin: 3%;
	margin-bottom: 2px;
	text-align: left; 
	font-size: 250%;
}
#S-Setting{
	width: 92%;
	height: 80px;
	background-image: url("../img/Ajustes.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 100% 0%;
	background-color: rgba(240, 243, 244, 0.7); 
	border-style: outset;
	border-radius: 10px;
	border-color: silver;
	display: block !important;
	color: black;
	margin: 3%;
	margin-bottom: 2px;
	text-align: left; 
	font-size: 250%;
}
#S-Sound{
	width: 92%;
	height: 80px;
	background-image: url("../img/Sonido.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 100% 45%;
	background-color: rgba(240, 243, 244, 0.7); 
	border-style: outset;
	border-radius: 10px;
	border-color: silver;
	display: block !important;
	color: black;
	margin: 3%;
	margin-bottom: 2px;
	text-align: left; 
	font-size: 250%;
}